################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Graduation/FileContentIndex/ea211d3d-aab9-47d8-acbe-aec78390add0.vsidx
/.gitignore
/.gitignore
/.vs/slnx.sqlite
/.vs/Graduation/FileContentIndex
/.vs
